@use '../../../../styles/variables' as v;

.dashboard-content {
  align-items: center;
  background-color: v.$color-secondary;
  border: 1px solid v.$color;
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin: 8rem 5rem 0rem auto;
  width: 70%;
  overflow: auto;
}

.stats {
  margin: 1rem auto;
  width: 95%;
}

@media (max-width: 1090px) {
  .dashboard-content {
    margin: 5rem auto;
    height: 85vh;
    width: 90vw;
  }
}
