$color: #9b9ea0;
$color-primary: #000000;
$color-secondary: #f2f5f7;
$color-bg: #ffffff;
$divider: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(146,146,146,1) 50%, rgba(255,255,255,1) 100%);
$gutter: 1.6rem;
