@use '../../../../styles/variables' as v;

.tasks {
  width: 100%;
  &-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    list-style: none;
  }

  &-item {
    height: 15rem;
    &__link {
      background-color: white;
      border: 1px solid v.$color;
      display: flex;
      flex-wrap: wrap;
      height: 10rem;
      justify-content: space-around;
      gap: 3rem;
      width: 50rem;
    }

    &__name,
    &__technician,
    &__client,
    &__hour,
    &__duration,
    &__price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 13rem;
    }

    &__image {
      width: 2rem;
    }
  }
}

.future,
.past {
  height: 11rem;
}

.future-time,
.past-time {
  font-size: 1.5rem;
  width: 15rem;
}

@media (max-width: 600px) {
  .tasks {
    &-item {
      height: 100%;

      &__link {
        height: auto;
        width: auto;
      }

      &__name,
      &__technician,
      &__client,
      &__hour,
      &__duration,
      &__price {
        font-size: 2rem;
        gap: 0.5rem;
        width: 40%;
      }
    }
  }
}
